<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>ngImgCrop Test Page</title>
    <!--<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="../compile/unminified/ng-img-crop.js"></script>
    <link rel="stylesheet" href="../compile/unminified/ng-img-crop.css"/>
    <style>
        .cropArea {
            background: #E4E4E4;
            margin: auto;
            overflow: hidden;
        }

        .cropArea.big {
            width: 800px;
            height: 600px;
        }

        .cropArea.medium {
            width: 500px;
            height: 350px;
        }

        .cropArea.small {
            width: 300px;
            height: 200px;
        }

        .cropArea.hidden {
           display: none;
        }
    </style>
</head>
<body ng-controller="Ctrl">
<div>
    <label><input type="checkbox" ng-model="enableCrop" ng-init="enableCrop=true"/> Add ngImgCrop to Page</label>
</div>
<div>
    Container size:
    <label><input type="radio" ng-model="size" value="big"/> Big</label>
    <label><input type="radio" ng-model="size" value="medium"/> Medium</label>
    <label><input type="radio" ng-model="size" value="small"/> Small</label>
</div>
<div>
    Area type:
    <label><input type="radio" ng-model="type" value="circle"/> Circle</label>
    <label><input type="radio" ng-model="type" value="square"/> Square</label>
    <!--<label><input type="radio" ng-model="type" value="rectangle" /> Rectangle</label>-->
</div>
<div>
    <label><input type="checkbox" ng-model="changeOnFly"/> Change On Fly</label>
</div>
<!--
<div>
  <label>Aspect Ratio: <input type="text" ng-model="aspectRatio" /></label>
</div>
-->
<div>
    <label>Area Min Size (Size = Width = Height): <input type="text" ng-model="selMinSize"/></label>
</div>
<div>
    <label>Result Image Size (Size = Width = Height): <input type="text" ng-model="resImgSize"/></label>
</div>
<div>
    Result Image Format:
    <label><input type="radio" ng-model="resImgFormat" value="image/jpeg"/> image/jpeg</label>
    <label><input type="radio" ng-model="resImgFormat" value="image/png"/> image/png</label>
    <label><input type="radio" ng-model="resImgFormat" value="image/webp"/> image/webp</label>
</div>
<div>
    <label>Result Image Quality (0<=X<=1): <input type="text" ng-model="resImgQuality"/></label>
</div>
<form ng-show="enableCrop">
    <label for="fileInput">Select Image:</label>
    <input type="file" id="fileInput"/>
    <button type="reset">Clear</button>
    <button ng-click="imageDataURI='test.jpg'">Set Test Image</button>
</form>
<div>
    <label>Image URL: <input type="text" ng-model="edtImageURI"/></label>
    <button ng-click="imageDataURI=edtImageURI">Set Image</button>
</div>
<div>
    <button ng-click="imageDataURI=''">Reset Image</button>
</div>

<div>
    <button ng-click="click()">Resize</button>
</div>

<div>
    <button ng-click="loadImage()">loadImage</button>
</div>

<div>
    <button ng-click="show()">Show</button>
</div>

<div>
    <button ng-click="crop()">Manually Crop</button>
</div>


<pre>
    {{areaCoords|json}}
</pre>

<div class="cropArea {{model1.hidden}}" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
    <img-crop
                image="model1.imageDataURI"
              result-image="model1.resImageDataURI"
              change-on-fly="changeOnFly"
              area-type="rectangle"
              area-coords="areaCoords"
              canvas-size="stuff.getDimensions()"
              result-image-format="image/png"
              result-image-quality="1"
              aspect-ratio="1.77777777777"
              result-image-size="resultSize"
              on-change="onChange($dataURI)"
              on-load-begin="onLoadBegin()"
              on-load-done="onLoadDone()"
              on-load-error="onLoadError()"
              area-coords="model1.areaCoords"
              <!--manually-crop="crop"-->
            ></img-crop>
    <!--aspect-ratio="aspectRatio"-->
    <!--aspect-ratio="1.77777777777"-->
</div>

<div style="text-align:center">
    <h3>Result</h3>

    <div>
        <img ng-src="{{model1.resImageDataURI}}"/>
    </div>
</div>


<script type="text/javascript">
    angular.module('app', ['ngImgCrop'])
            .controller('Ctrl', function ($scope) {
                $scope.areaCoords = '';
                $scope.dims = null;

                $scope.resultSize = {
                    h: 200,
                    w: 200
                };

                $scope.model1 = {
                    resImageDataURI: '',
                    imageDataURI: '',
                    hidden: 'hidden'
                };

                $scope.stuff = {
                    getDimensions: function () {
                        if (!$scope.dims && $scope.renderedImageSize) {
                            $scope.dims = [$scope.renderedImageSize.width, $scope.renderedImageSize.height];
                        }
                        return $scope.dims;
                    }
                };

                $scope.loadImage = function() {
                    $scope.model1.imageDataURI = 'http://i.chzbgr.com/maxW500/8389339392/hB7D0EE41/';
                };

                $scope.show = function() {

                    $scope.model1.hidden = '';
                };

                $scope.click = function() {
                    $scope.renderedImageSize = {
                        height: 200,
                        width: 100
                    };
                };

                $scope.size = 'big';

                $scope.crop = function(){
//                    console.log('manually cropped');
                }

                $scope.onChange = function ($dataURI) {
//                    console.log('onChange fired');
                };
                $scope.onLoadBegin = function () {
//                    console.log('onLoadBegin fired');
                };
                $scope.onLoadDone = function () {
//                    console.log('onLoadDone fired');
                };
                $scope.onLoadError = function () {
//                    console.log('onLoadError fired');
                };
//                var handleFileSelect = function (evt) {
//                    var file = evt.currentTarget.files[0];
//                    var reader = new FileReader();
//                    reader.onload = function (evt) {
//                        $scope.$apply(function ($scope) {
//                            $scope.imageDataURI = evt.target.result;
//                        });
//                    };
//                    reader.readAsDataURL(file);
//                };
//                angular.element(document.querySelector('#fileInput')).on('change', handleFileSelect);
//                $scope.$watch('resImageDataURI', function () {
//                    //console.log('Res image', $scope.resImageDataURI);
//                });


            })
    ;
</script>
</body>
</html>